SECRET_KEY=django-insecure-your-secret-key
DEBUG=True

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
# REDIS_PASSWORD= # Залиш закоментованим, якщо немає пароля


NOTIFICATIONS_QUEUE=notifications
LOG_LEVEL_NOTIFICATIONS=INFO

# Налаштування Telegram-бота
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=admin_chat_id_here

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# djoser
EMAIL_HOST_USER=noreply.readriot@gmail.com
EMAIL_HOST_PASSWORD=blyxhfjrxcfiluby
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=noreply.readriot@gmail.com
