SECRET_KEY=django-insecure-your-secret-key
DEBUG=True

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD= # Залиш порожнім, якщо немає пароля


NOTIFICATIONS_QUEUE=notifications
LOG_LEVEL_NOTIFICATIONS=INFO

# Налаштування Telegram-бота
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here