DEBUG=True
SECRET_KEY=django-insecure-your-secret-key
TELEGRAM_TOKEN=Your-Telegram-Bot-Token at @BotFather - newbot - create new bot
# https://remonline.ua/blog/how-to-create-telegram-bot/
TELEGRAM_CHAT_ID=Your-Telegram-Chat-ID
# https://cyberset.com.ua/cybersecurity/cybersecurity-basics/telegram-id/#h-1-через-бота
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0